body{
    font-family: sans-serif;
    width: 100%;
    height: 900px;
    margin-left: 1px;
    margin-top: 1px;
    font-size: 2vw;
    background-color: rgb(255,237,219);
    
}

.input{
    width: 120px;
    height: 18px;
}

.legend{
    margin-left: 25px;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.cont-form{
    background-color: rgb(93,133,103);
}

.intro{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 150px;
    font-size: 2.3vw;
}

.nombres-form{
    font-size: 2.4vw ;
}

#conflicto1{
    margin: 0;
}

#pie{
    margin-top: 1px ;
}

#seccion{
    background-color: rgb(255,237,219);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 600px;
}

#pie-de-pagina{
    background-color: rgb(255,237,219);
    font-size: 1.3vw;
}

#parte-1-form{
    margin-bottom: 50px;
}

#parte-2-form{
    margin-top: 10px;
}

#nombre-boton-enviar{
    font-size: 1.2vw;
}